mixin field(type, name, placeholder)
  .field
    .ui.left.icon.input
      i.icon(class=(type === 'password' ? 'lock' : 'user'))
      input(type=type, name=name, placeholder=placeholder)

mixin message(type)
  .ui.middle.aligned.center.aligned.grid
    .fourteen.wide.column
      .ui.message(class=type)
        block